*{
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
    box-sizing:border-box;
    font-family:popins;
    outline:none;
    border:none;
    color:#fff
}
body{
   
    background:black;
    height:100vh;
}
html{

    font-size:62.5%;
    overflow-x:hidden;
}
.header{

    position: fixed;
    left:0;
    top:0;
    padding:2rem 10%;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
}
.sticky{
     
    border-bottom: 2px solidblack;
    background-color: black;
}
.logo{

    font-size: 2.9rem;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    transform: translateX(100%);
    opacity: 0;
    animation:RightSlilde 1 s ease forwards;

}
@keyframes RigthSlide{ 
0%{                            

 transform:translateX(-100%); 
  opacity: 0% }
}
100%{
    transform:translateX(0%);
    opacity: 1;
}

#menu{
    color:#fff;
    font-size:2.5rem;
    display:none;
}
.nevebar{
    display:inline-block;
    font-size: 1.7rem;
    text-decoration: none;
    margin: 0 2.5rem;
    font-weight:500;
    letter-spacing: .02;
    transition: .5ease;
    transform: translateY(-100px);
    opacity: 0;
    animation: TopSlide 1s ease forward;
    animation-delay:calc(.2s*var(--vlr)) ;

}
@keyframes topslide{
}
.navbar a:hover,.navbar a.active{
       color:red;
}
section{
    padding:10rem 9% 2rem;
    min-height: 100vh;
}
.about,.education.content.content,.skill{
    overflow:hidden;
}
.home{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.text-content{
    max-width: 70rem;
}
.text-content h1{
    font-size: 5rem;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: .05rem;
    font-weight: 600;
    transform: translateY(-100px);
    opacity:0;
    animation:RigtSlide 1s ease forwards;
    animation-delay: 1s;
}
.text-animation{
    position:relative;
    width:32.8rem;
}
.text-animation h2{
    font: size 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px red;
    background:linear-gradient(red,red);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background: position -33rem 0;
    transform:translateY(-100px) ;
    opacity:0;
    animation: textSlide 6s liner infinite;
    animation: TopSlide 1s ease forward;

    animation-delay: 2s,1.2s;
}
@keyframes textSlide{
    0%,10%,100%{
        background-position: -33rem 0;
    }
    65%,85%{
        background-position: 0 0;
    }
}  
.text-animation::before{
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    height:100% ;
    width: 0;T
    border-right: 2px solid red;
    transform : translateY(-100PX);
    opacity: 0;
    animation: CursorSlide 6s linear infinite,
    TopSlide 1s ease farword;
    animation-delay:2s,1.2s;
}
@keyframes cursorSlide{  
    0%,10%,100%{
        widt:0,
    }
    65%,78%,85%; {
        opacity: 1 ;
        width: 100%;
    }
    75%,81%    
    {
        opacity: 0;
    }
}       
.text-content p {
    font-size:1.4rem;
    margin:1 rem 0;
    transform:translateX(100px);
    opacity:0;
    animation:leftSlide 1s ease farword;
    animation-delay:1.4;
}
@keyframes leftSlide{
    0%{
        transform:translateX(100px);
        opacity:0;
    }
}
    100%{
        transform:translateX(0px);
        opacity :1 ;
    }
.btn-section{
    width:32.5rem;
    height: 5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:2rem 0;
    position: relative;
}    
.btn-section::before{
    content:"";
    position:absolute;
    left: 0;
    top: 0;
    background:black;
    height:100%;
    width:100%;
    z-index:2;
    animation:slide 1s ease farward;
    animation-delay: 1.6s;
}
@keyframes slide{
    0%{
        width:100%
    }
    100%{
        width:0;
    }
}
.btn{
    height:100%;
    width:15rem;
    color:#fff;
    background: black;
    border:.2rem solid rgba(225,255,.3);
    backdrop-filter:blur(5rem);
    border-radius:.8rem;
    font-size:1.5rem;
    cursor: pointer;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow:hidden;
    z-index:1;
}
.btn::before{
    content:"";
    position:absolute
    left: 0;
    top:-100%;
    height: 300%;
    width:100%
    background :linear-gradient(
               black,red,black,red
    );
        
    z-index:-1;
    transition :.5s ease;
}   
.btn:over::before{
    top:0,
}
.social-media i{
    margin: 2rem 0;
}
.socila-media i{
    display:inline-block;
    font-size: 2.5rem;
    background: black;
    border:2rem solid rgba(255,255,255,3);
    padding:8rem;
    margin:0.5rem;
    border-radius: 50%;
    color:#fff;
    cursor:pointer;
    position:relative;
    overflow:hidden;
    animation:bottom 1s ease farward;
    animation-delay: calc(.2s*var(--vlr));
    transform:translateY(100px);
    opacity:0;

}
@keyframes bottom{        
 0%{
    translateY(100px);
        opacity: 0;  
    }
}
.social-media i ::after{
    content:"";
    position:absolute;
    left:0;
    top:-100%;
    height:300%;
    width:100%;
    background: liner-gradient(
        black,red,black,red;
    );
    z-index : -1;
    transition : 0.5s ease;
}
i:hover::after{
    top:0;
}
.home img{
    width:30vw;
    background: black;
    border:.2rem solid rgba(255,255,255,3);
    border-radius: 50%;
    filter:drop-shadow(0 08rem red);
    animation: scale 1s ease farwards;
    scale:0;
    animation-delay: 2s;
}
@keyframes scale {
    0%{
        scale:0;
    }
    100%{
        scale:1;
    }
}   
   /* about section   */
.about{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:border-botoom 6rem;
    gap:2rem;
}
.title{
    font-size: 5rem;
    margin-bottom: 3rem;
    font-weight: 600;
    text-align: center;
    transform:translateY(-100px);
    opacity: 0;
}
section.start-animation.title{
    animation:top 1s ease forwards;
}
@keyframes top{
    0%{
        transform:translateY(-100px);
    }
    100%{
        transform: translateY(0px);
        opacity:i;
    }
}
.title span{
    color:red;
}
.about img{
    height:25rem;
    width:25rem;
    background:black;
    border:.2rem solid rgba(225,255,.3);
    filter:drop-shadow(0 0 8rem red);
    scale:0;
}
section.start-animation.about img{
    animation:scaleout 1s ease forwards;
}
@keyframes scaleout{
    0%{
        scale:0;
    }
    100%{
        scale:1;
    }
}
.text-content2{
    text-align: center;
}
.text-content2 h2{
    font-size: 2.6rem;
    transform:translateX(-100px);
    opacity:0;
}
section.start-animation.text-content2 h2{
    animation: Right 1s ease forwards;
}
@keyframes right{
    0%{
        transform: translateX(-100px);
        opacity:0;
    }
    100%{
        transform: translateX(0px);
        opacity:1;
    }
}
.text-content2 p{
    font: 1.5rem;
    margin:2rem 0 3rem;
    transform:translateX(100px);
    opacity:o;
}
section.start-animation .text-content2 p{
    animation:left 1s ease forwards;
}
@keyframes left {
    0%{
        transform: translateX(100px);
        opacity:0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}
.text-content2 .btn{
    padding: .9rem.5rem;
    transform: translateY(100px);
    opacity: 0;
}
section.start-animation.text-content2.btn{
    animation: bottom 1s ease forwards;
}
@keyframes bottom{
    0%{
        transform: translateX(100px);
        opacity: 1;
    }
}
  /* education section */
   .row{
    display: flex; 
    column-gap: 4rem;
    flex-wrap: wrap;
   }
   .column{
    flex: 1 1 30rem;
   }
   .column:nth-child(1){
    opacity: 0;
    transform: translateX(100px);
   }
   section.start-animation.column:nth-child(1){
    animation: Right 1s ease forwards;
    animation-delay: 1.2s;
   }
     
   .column:nth-child(2){
    opacity: 0;
    transform: translateX(100px);
   }
   .section.start-anmation.column:nth-child(2){
    animation: left 1s ease forwards;
    animation-delay: 1.2rem;
   }
   .column h2{
    font: 2.5rem;
    margin: 2rem 01rem 1.96rem;
    transform: translateY(-100px);
    opacity: 1.2s;
   }
   section.section.start-anmation.column h2{
    animation: top 1s ease forwards ;
    animation-delay: 1.2s;
   }
   .box{
    border-left: .2rem solild red;
   }
   .education-content{
    padding-left: 1.9rem;
   }
   .education-content.content{
    padding: i.5rem;
    border: 2rem solid red;
    background: black;
    border-radius: 5rem;
    margin-bottom: 2rem;
    position:relative ;
   }
   .content::before{
    content: "";
    position: absolute;
    left: -2.8rem;
    top: -1.5rem;
    height: 1,4rem;
    width: 1.4rem;
    border-radius: 50%;
    background: red;
   }
   .content.year i{
    color: red;
    font-size: 1.5rem;
    margin-left: .5rem;
   }
   .content h3{
    font-size: 1.7rem;
    letter-spacing: .05rem;
    margin: .5rem 0;
   }
   .content p{
    font-size: 1.5rem;
   }
   /* skill-content */
   .wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
   }
   .skill-title{
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    opacity: 0;
    transform: translateY(-100px);
   }
   .section.start-anmation.skill-title{
    animation: top 1s ease forwards;
    animation-delay: 1.2s;

   }
   .skill-content{
    width: 100%;
    flex: 1 1 30 rem;
   }
   .skill-box{
    height: 100%;
    width: 100%;
    padding: 8 rem 4rem;
    background: rgb(31,30,30);
    border-radius: 1rem;
   }
   .skill-box1{
    opacity:0;
    transform: translateX(-100px);
}
.section.start-anmation.skill-box1{
    animation: right 1s ease forwards;
    animation-delay: 1.2s;
}
.skill-box2{
    opacity:0;
    transform: translateX(-100px);   
}
section.start-anmation.skill-box1{
    animation: left 1s ease forwards;
    animation-delay: 1.4s;
}
.single-skill{
    display:flex;
    justify-content: space-between;
    margin: 2rem 0;

}
.single-skill span{
    font-size: 1.6;

}
.bar-side{
  background:#111;  
  height:1rem;
  border-radius: 5orem;
  position:relative;
  overflow: hidden;
}
.bar{
    position:absolute;
    height:100%;
    background:red;
}
.bar-1 {
    width: 90%;
}
.bar-2{
    width: 80%;

}
.bar-3{
    width: 70%;
}
 /* content section */
section form {
    max-width: 70rem;
    text-align:center;
    margin:1rem auto;
    margin-bottom: 3rem;
}
.input-box{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
input:nth-child(1){
    opacity: 0;
    transform:translateX(-100px);
}
.section.start-anmation.input:nth-child(1){
    animation:right 1s ease forwards;
    animation-delay: 1.2s;
}
input:nth-child(2){
    opacity: 0;
    transform:translateX(100px);

}
.section.start-anmation.input:nth-child(2){
    animation: left 1s ease forwards;
    animation-delay: 1,2s;
}
input,textarea{
    width:100%;
    padding: 1.5em;
    background: rgba(255,255,255.1);
    border: .2rem solid rgba(225,255,.3);
    outline:none;
    backdrop-filter: blur(10px);
    filter: drop-shadow(0 0 100px red);
    border-radius: .8rem;
    gap:2.5rem;
    margin:.7rem 0;
    transition: .3s ease;
    opacity:0;
    transform: translateY(-100PX);
}
.section.start-anmation textarea{
    animation: bottom is ease forwards;
    animation-delay: 1.2s;
}
input::placeholder{
    font-size: 1.5rem;
    letter-spacing: .02rem;

}
.input-box{
    width: 49%;
}
input:focus,
input:valid{
    border:.2rem solid red;

}
textarea{
    resize: none;
}
.content.btn{
    margin-top: 2rem;
    cursor:pointer;
    filter: none;
    border: .2rem solid rgba(225,255,.3);
}
section.start -animation.btn{
    animation:bottom 1s ease forwards;
    animation-delay: 1.4s;
}
.content.btn:hover{
    background: red;
    box-shadow: 0 0 .3rem red;
    0 0.7rem red;
}
 /* footer */
  footer{
    background: #0808707;
    padding:2rem 9%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
  }
  footer p{
    font-size: 1.6rem;
  }
  footer i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: red;
    color: black;
    font-size: 2,4rem;

  }
  /* responsive */
  @media(max-width:1200px){
    html{
        font-size: 55;
    }
  }
  @media(max-width:991px){
    .header{
        padding:2rem 9%;
    }
    section{padding:10rem 3% 2rem
    }
    .content{
        min-height: auto;
    }
    footer{
        padding:2rem 3%;
    }
    .nevbar{
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        padding: 1rem 3%;
        background: black;
        border-top: 1px solidblack;
        border-bottom: .2remsolidblack;
        display: none;
    }
    .nevbar.active{
        display: block;
    }
    .navbar a{
        display: blocl;
        margin:3rem 0;
    }
  }

